<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
	  <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
	  <Platform>x64</Platform>
	  <Configuration>Release</Configuration>
	  <TargetFramework>net6.0-windows10.0.19041.0</TargetFramework>
	  <PublishSingleFile>false</PublishSingleFile>
	  <PublishReadyToRun>false</PublishReadyToRun>
	  <PublishUrl>bin\Publish\net6.0\win10-x64\</PublishUrl>
	  <SelfContained>True</SelfContained>
	  <PublishProtocol>FileSystem</PublishProtocol>
	  <PublishAppxPackage>true</PublishAppxPackage>
	  <!-- ignore -->
	  <AppxPackageDir>bin\Distibution\win10-x64\AppPackages\</AppxPackageDir>
	  <!-- ignore -->
	  <AppInstallerUri>https://update-msix-package.kzfk.win/packages/TinyCopyIconMaui/win10-x64/AppPackages/</AppInstallerUri>
  </PropertyGroup>
</Project>